.body {
  display: grid;
  place-content: center;
  text-align: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: black;
  display: flex;
  overflow-x: hidden;
  color: #FFF;
}

.name {
  width: 30%;
  display: flex;
  align-items: center;
  margin-left: 38px;
  margin-top: -40px;
}


h1 {
  font-size: 28px;
  position: relative;
  width: max-content;
  font-weight: normal;
}

h1:before,
h1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

h1::before {
  background: black;
  animation: write 2.5s steps(25) 0.5s forwards;
  /* Number of steps */
  width: 100%;
}

h1::after {
  opacity: 1;
  width: 0.15em;
  background: black;
  animation: write 2.5s steps(25) 0.5s forwards, blink 0.75s steps(2) infinite;
}

p {
  font-size: 2.5vw;
  opacity: 0.4;
}

.bold {
  font-weight: 600;
}

@keyframes write {
  to {
    left: 100%;
  }

}

@keyframes blink {
  0% {
    opacity: 0;
  }

  49.9% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


.dly {
  font-size: 28px;
  position: relative;
  width: max-content;
  font-weight: normal;
}

.dly:before,
.dly:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dly::before {
  background: black;
  animation: write 2.5s steps(25) 0.5s forwards;
  /* Number of steps */
  width: 100%;
  animation-delay: 3.4s;
}

.dly::after {
  opacity: 1;
  width: 0.15em;
  background: black;
  animation: write 2.5s steps(25) 0.5s forwards, blink 0.75s steps(2) infinite;
}

p {
  font-size: 2.5vw;
  opacity: 0.4;
}

.bold {
  font-weight: 600;
}

@keyframes write {
  to {
    left: 100%;
  }

}

@keyframes blink {
  0% {
    opacity: 0;
  }

  49.9% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.about {
  display: flex;

}

.about a {
  border: 2px solid #FFF;
  width: 140px;
  padding: 10px 25px;
  /* border-radius: 40px; */
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.b {
  width: 69%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: black; */
}

.cube {
  position: relative;
  min-width: 300px;
  min-height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-style: preserve-3d;
}

.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  min-height: 300px;
  background: linear-gradient(#151515, #00ec00);
  transform: rotateY(calc(90deg*var(--i))) translateZ(150px);
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #222;
  transform: rotateX(90deg) translateZ(150px);
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #0f0;
  transform: translateZ(-380px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);
}





.m-cube {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.m-cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-style: preserve-3d;
}

.m-cube div span {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 200px;
  min-height: 200px;
  background: linear-gradient(#151515, #00ec00);
  transform: rotateY(calc(90deg*var(--i))) translateZ(100px);
}

.m-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #222;
  transform: rotateX(90deg) translateZ(100px);
}

.m-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #0f0;
  transform: translateZ(-380px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);
}





.cube_1 {
  position: relative;
  min-width: 100px;
  min-height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube_1 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-style: preserve-3d;
}

.cube_1 div span {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100px;
  min-height: 100px;
  background: linear-gradient(#151515, #FC0143);
  transform: rotateY(calc(90deg*var(--i))) translateZ(50px);
}

.top_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: #222;
  transform: rotateX(90deg) translateZ(50px);
}

/* .top_1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #FD084C;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(253, 8, 76, 0.2),
    0 0 200px rgba(253, 8, 76, 0.4),
    0 0 300px rgba(253, 8, 76, 0.6),
    0 0 400px rgba(253, 8, 76, 0.8),
    0 0 500px rgba(253, 8, 76, 1);
  } */

@media (max-width: 768px) {
  .body {
    height: 100vh;
  }

  .m-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .name {
    width: 0px;
    margin: 0;
  }

  .b {
    width: 0px;
  }

  .m-img {
    max-width: 70%;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1500px) {
  .name {
    width: 38%;
    margin-left: 10rem;
  }
}